*{
	margin:0px;
	padding:0px;
	
}
body{
	 font-family: "Bubbler One",sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6{
	font-family: "Roboto",sans-serif;
    font-weight: 400;
	
}
.com{
	float:left;
	width:100%;

	}
.clear{
	clear:both;
}

.head{
	background-color:#34495E;
	position:fixed;
	top:0;
	height:44px;
	transition: top 0.2s ease-in-out;
	z-index:1;
}

.nav-up{
	top:-54px;
}

.main-content{
	height:900px;
	background-color:green;
	position:relative;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}



@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*-----------------------img popup ends--------------------------------*/
.hwrap{
	max-width:1150px;
	width:100%;
	margin:auto;	
	
}

.logo{
	float:left;
	max-width:450px;
	height:50px;
	width:100%;
	margin-top:5px;
	color:#BAC1C5;
}

.logo img{
	max-width:100%;
}


.logo h1{
	margin-left:35px;
	
}

.logo h1 a{
	text-decoration:none;
	color:#BAC1C5;
}

.navdiv{
	max-width:500px;
	width:100%;
	float:right;
	font-size:15px;
}

.navdiv ul{
	list-style:none;
	padding:0px;
	margin:0px;
}

.navdiv li{
	float:left;
	margin-left:10px;
	margin:5px 5px;
}

.navdiv ul li>a{
	display:block;
	padding:10px 15px;
	text-decoration:none;
	color:#BAC1C5;
	border-radius:10px;
}

.navdiv ul li a:hover{
	background-color:#2C3E50;
	color:white;	
}

.navdiv ul li a:active{
	background-color:#2C3E50;
}

.logosty{
	max-width:300px;
}

/*--------------------------Banner------------------------*/

.banner{
	background-color:rgb(52,73,94);
	/*background-image:url('../img/1.jpg');
	background-repeat:no-repeat;
	background-position:50%;*/
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../img/1.jpg);
	background-size:cover;
	height: 700px;
	/*animation-name:imgchg;
	animation-duration:10s;
	animation-direction:alternate;
	animation-iteration-count:infinite;*/
}

/*@keyframes imgchg{
	50%{background-image:url('../img/slider/bg2.jpg');}
	100%{background-image:url('../img/slider/bg3.jpg');}	
}*/

.bannerdiv{
	/*max-width:1150px;
	box-sizing:border-box;
	margin:auto; 
	height:660px;
	position:relative;
*/
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    }

.banner_h1{
	text-transform: uppercase;
	margin: 0;
	font-size: 40px;
	white-space: nowrap;
	font-weight: bold;
}
.banner_p{
	margin: 0;
	font-size: 1.3rem;
}
/*------------------------WRAPPER--------------------------*/

.wrapper{
	position:relative;
	top:72px;
	z-index:-1;
}

.subheadingsdiv{
	box-sizing:border-box;
	padding:25px 0px;
	color:white;	
}

.subheadings{
	font-size:30px;	
}

.subheadings1{
	font-size:15px;
}

.proj{
	max-width:1150px;
	margin:auto;
	box-sizing:border-box;
}

.projbor{
	padding:75px 0px;
}

.watvr{
	max-width:550px;
	width:100%;
	box-sizing:border-box;
	padding:8px	;
	float:left;
}

.watvr p{
	color:rgb(52,73,94);
}

.parahead{
	font-size:33px;
}

.parahead1{
	font-size:17px;
	margin-top:10px;
}

.ourskills{
	max-width:575px;
	width:100%;
	box-sizing:border-box;
	border:5px solid white;
	border-radius:5px;
	float:right;
	
	/*max-width:575px;
	width:100%;
	box-sizing:border-box;
	padding:10px 0;
	float:right;
	color:rgb(52,73,94);*/
}

.ourskillsimg{
	max-width:100%;
	
}

.ourskills p{
	color:rgb(52,73,94);
	font-size:30px;
}

.proj1{
	max-width:1150px;
	margin:auto;
	box-sizing:border-box;
	padding:10px;
	position:relative;
	
}

.proj1divs{
	max-width:364px;
	width:100%;
	border:5px solid white;
	box-sizing:border-box;
	float:left;
	margin-left:8px;
	margin-top:10px;
}

.proj1divs img{
max-width:100%;
}
/*-------------------Portfolio ends---------------*/
.socialmedia{
	background-color:#2ECC71;	
}

.smcontent{
	max-width:1150px;
	width:100%;
	margin:auto;
	box-sizing:border-box;
	padding:20px;
	
}


.projdisplay{
	background-color: #E5E4E2;
	padding:20px 0;	
}

span{
	font-weight:bold;
	font-size:15px;
	
}

h2{
	color:white;
}


/*-------------------------------BEFORE FOOTER----------------------------*/
.map{
	max-width:600px;
	width:100%;
	margin:auto;
	height:500px;
	margin-top:10px;
}

iframe{
	max-width:1150px;
	width:100%;
	margin:auto;
	height:500px;
	
}

.address{
	max-width:1150px;
	width:100%;
	margin:auto;
	box-sizing:border-box;
	padding:10px;
	text-align:center;
	margin-top:10px;
	

}

.address-head{
	font-size:25px;
	font-weight:bold;
	color: white;
}

.address-para{
	font-size:18px;
	color: white;
}
/*---------------------------------------FOOTER--------------------------*/

.footer{
	background-color:rgb(44,62,80);
	
}

.infooter{
	max-width:1150px;
	width:100%;
	margin:auto;
	
}
.rightsreserved{
	max-width:1150px;
	width:100%;
	text-align:center;
	padding:25px 0px;
	
	
}
.rightsreserved p{
	color:#BAC1C5;
	font-size:14px;	
}
.add_foot{
	 background-color:rgb(44,62,80);
}

.add_foot_cont{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	border: 1px solid black;
}

.mob_mnu select {
	background: #fff;
  	border: 1px solid #c4d1d9;
  	border-radius: 4px;
  	color: #333;
  	font-size: 14px;
  	height: 34px;
  	line-height: 1.42857;
  	padding: 6px 12px;
	font-family: 'Open Sans', sans-serif;
}
.mob_mnu select:focus {
	border: 1px solid #0064ad;
}
.mob_mnu {
    display: none;
}
@media handheld, only screen and (max-width: 767px) {
	/*.com, .align_center {
		padding: 2%;
		box-sizing: border-box;
	}
	
	.vid_div, .frm_con, .pro_con_div, .pro_img_div, .pro_img_div1, .pro_det_div, .pro_det_div1, .pro_demo_vid_div, .pro_demo_vid_con_div, .pro_con_div1, .contact_div, .foot_menu, .dumm, .contact_img_div, .contact_det_div {
		margin: 1% 0;
		width: 100%;
	}
	
	.dis_nn {
		display: none !important;
	}
	
	.mob_togg {
		padding: 1px;
	}
	
	.mob_togg {
		display: block;
	}
	
	.pro_demo_vid_con_div1 ul li {
		width: 100%;
		box-sizing: border-box;
	}
	.mob_mnu {
		display: block;
	}
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, ul.testi_li li, ul.soci_li li {
		width: 100%;
		margin: 15px 0;
	}
	.mysty{
		width: 100%;
	}*/
	.mob_mnu{
		display: block;
	}
	.navdiv{
		display: none;
	}
	.logo h1{
		font-size: 26px;
		margin-left: 0px;
	}
	.logo{
		text-align: center;
	}
	.mob_mnu select{
		background: #34495E !important;
		color: #BAC1C5 !important;
	}
	.arrow{
		display: none;
	}
}
